/* Estilo del Header */
header {
    background-color: #000; /* Fondo negro */
    display: flex;
    justify-content: space-between; /* Logo a la izquierda, menú a la derecha */
    align-items: center;
    padding: 15px 30px;
    color: #fff;
}

/* Ocultar el botón hamburguesa porque ya no lo queremos */
.menu-toggle {
    display: none;
}

/* Estilo del menú horizontal */
.nav-menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu ul li {
    margin-left: 20px;
}

.nav-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Ajuste del logo para que no sea gigante */
.logo img {
    height: 40px; 
}